Dsl/GeneratedCode/DSPMPVSCDProyectoIPSSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema id="DSPMPVSCDProyectoIPSSchema" targetNamespace="http://schemas.microsoft.com/dsltools/DSPMPVSCDProyectoIPS" elementFormDefault="qualified" xmlns="http://schemas.microsoft.com/dsltools/DSPMPVSCDProyectoIPS" xmlns:core="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import id="CoreSchema" namespace="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" />
  <!-- TapizDiagramaClases -->
  <xsd:element name="tapizDiagramaClases" type="TapizDiagramaClases" substitutionGroup="core:modelElement" />
  <xsd:complexType name="TapizDiagramaClases">
    <xsd:annotation>
      <xsd:documentation>The root in which all other elements are embedded. Appears as a diagram.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: TapizDiagramaClasesHasClases -->
          <xsd:element name="clases" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of TapizDiagramaClasesHasClases</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="tapizDiagramaClasesHasClases" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of TapizDiagramaClasesHasClases needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- dslVersion -->
        <xsd:attribute name="dslVersion" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Version of the model serialized in this file.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: solucionDiagrama -->
        <xsd:attribute name="solucionDiagrama" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- TapizDiagramaClases Moniker -->
  <xsd:element name="tapizDiagramaClasesMoniker" type="TapizDiagramaClasesMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="TapizDiagramaClasesMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for TapizDiagramaClases instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Atributo -->
  <xsd:element name="atributo" type="Atributo" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Atributo">
    <xsd:annotation>
      <xsd:documentation>Elements embedded in the model. Appear as boxes on the diagram.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Nombre -->
        <xsd:attribute name="nombre" type="xsd:string" use="required" />
        <!-- Property: TipoDato -->
        <xsd:attribute name="tipoDato" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Atributo Moniker -->
  <xsd:element name="atributoMoniker" type="AtributoMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="AtributoMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Atributo instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="nombre" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Operacion -->
  <xsd:element name="operacion" type="Operacion" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Operacion">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Nombre -->
        <xsd:attribute name="nombre" type="xsd:string" />
        <!-- Property: ConjuntoDatos -->
        <xsd:attribute name="conjuntoDatos" type="xsd:string" />
        <!-- Property: NombreYParametros -->
        <xsd:attribute name="nombreYParametros" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Operacion Moniker -->
  <xsd:element name="operacionMoniker" type="OperacionMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="OperacionMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Operacion instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Clase -->
  <xsd:element name="clase" type="Clase" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Clase">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: ClaseHasAtributo -->
          <xsd:element name="atributo" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ClaseHasAtributo</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="claseHasAtributo" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ClaseHasAtributo needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ClaseHasOperacion -->
          <xsd:element name="operacioned" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ClaseHasOperacion</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="claseHasOperacion" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ClaseHasOperacion needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ClaseHeredaClase -->
          <xsd:element name="claseHija" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ClaseHeredaClase</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="claseHeredaClase" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ClaseHeredaClase needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ClaseAgregaClase -->
          <xsd:element name="claseAgregada" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ClaseAgregaClase</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="claseAgregaClase" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ClaseAgregaClase needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ClaseComponeClase -->
          <xsd:element name="claseComponente" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ClaseComponeClase</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="claseComponeClase" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ClaseComponeClase needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ClaseAsociaClase -->
          <xsd:element name="claseAsociada" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ClaseAsociaClase</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="claseAsociaClase" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ClaseAsociaClase needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Nombre -->
        <xsd:attribute name="nombre" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Clase Moniker -->
  <xsd:element name="claseMoniker" type="ClaseMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ClaseMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Clase instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EstiloOperacion -->
  <xsd:element name="estiloOperacion" type="EstiloOperacion" substitutionGroup="core:modelElement" />
  <xsd:complexType name="EstiloOperacion">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: TipoLetra -->
        <xsd:attribute name="tipoLetra" type="xsd:string" />
        <!-- Property: ColorLetra -->
        <xsd:attribute name="colorLetra" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EstiloOperacion Moniker -->
  <xsd:element name="estiloOperacionMoniker" type="EstiloOperacionMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="EstiloOperacionMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for EstiloOperacion instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseEnriquecida -->
  <xsd:element name="claseEnriquecida" type="ClaseEnriquecida" substitutionGroup="clase" />
  <xsd:complexType name="ClaseEnriquecida">
    <xsd:complexContent>
      <xsd:extension base="Clase">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: ClaseEnriquecidaHasEstiloClases -->
          <xsd:element name="estiloClases" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ClaseEnriquecidaHasEstiloClases</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="claseEnriquecidaHasEstiloClases" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ClaseEnriquecidaHasEstiloClases needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ClaseEnriquecidaHasEstiloAtributo -->
          <xsd:element name="estiloAtributo" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ClaseEnriquecidaHasEstiloAtributo</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="claseEnriquecidaHasEstiloAtributo" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ClaseEnriquecidaHasEstiloAtributo needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ClaseEnriquecidaHasEstiloOperacioned -->
          <xsd:element name="estiloOperacioned" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ClaseEnriquecidaHasEstiloOperacioned</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="claseEnriquecidaHasEstiloOperacioned" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ClaseEnriquecidaHasEstiloOperacioned needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseEnriquecida Moniker -->
  <xsd:element name="claseEnriquecidaMoniker" type="ClaseEnriquecidaMoniker" substitutionGroup="claseMoniker" />
  <xsd:complexType name="ClaseEnriquecidaMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ClaseEnriquecida instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ClaseMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EstiloClase -->
  <xsd:element name="estiloClase" type="EstiloClase" substitutionGroup="core:modelElement" />
  <xsd:complexType name="EstiloClase">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: ColorFondo -->
        <xsd:attribute name="colorFondo" type="xsd:string" use="required" />
        <!-- Property: ColorLetra -->
        <xsd:attribute name="colorLetra" type="xsd:string" />
        <!-- Property: TipoLetra -->
        <xsd:attribute name="tipoLetra" type="xsd:string" />
        <!-- Property: Alineacion -->
        <xsd:attribute name="alineacion" type="TAlineacion" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EstiloClase Moniker -->
  <xsd:element name="estiloClaseMoniker" type="EstiloClaseMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="EstiloClaseMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for EstiloClase instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="colorFondo" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EstiloAtributo -->
  <xsd:element name="estiloAtributo" type="EstiloAtributo" substitutionGroup="core:modelElement" />
  <xsd:complexType name="EstiloAtributo">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: TipoLetra -->
        <xsd:attribute name="tipoLetra" type="xsd:string" use="required" />
        <!-- Property: ColorLetra -->
        <xsd:attribute name="colorLetra" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EstiloAtributo Moniker -->
  <xsd:element name="estiloAtributoMoniker" type="EstiloAtributoMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="EstiloAtributoMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for EstiloAtributo instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="tipoLetra" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- TapizDiagramaClasesHasClases -->
  <xsd:element name="tapizDiagramaClasesHasClases" type="TapizDiagramaClasesHasClases" substitutionGroup="core:modelElement" />
  <xsd:complexType name="TapizDiagramaClasesHasClases">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Clase -->
          <xsd:element ref="clase" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- TapizDiagramaClasesHasClases Moniker -->
  <xsd:element name="tapizDiagramaClasesHasClasesMoniker" type="TapizDiagramaClasesHasClasesMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="TapizDiagramaClasesHasClasesMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for TapizDiagramaClasesHasClases instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseHasAtributo -->
  <xsd:element name="claseHasAtributo" type="ClaseHasAtributo" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ClaseHasAtributo">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Atributo -->
          <xsd:element ref="atributo" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseHasAtributo Moniker -->
  <xsd:element name="claseHasAtributoMoniker" type="ClaseHasAtributoMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ClaseHasAtributoMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ClaseHasAtributo instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseHasOperacion -->
  <xsd:element name="claseHasOperacion" type="ClaseHasOperacion" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ClaseHasOperacion">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Operacion -->
          <xsd:element ref="operacion" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseHasOperacion Moniker -->
  <xsd:element name="claseHasOperacionMoniker" type="ClaseHasOperacionMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ClaseHasOperacionMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ClaseHasOperacion instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseHeredaClase -->
  <xsd:element name="claseHeredaClase" type="ClaseHeredaClase" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ClaseHeredaClase">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Clase -->
          <xsd:element ref="claseMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: TipoHerencia -->
        <xsd:attribute name="tipoHerencia" type="TTipoHerencia" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseHeredaClase Moniker -->
  <xsd:element name="claseHeredaClaseMoniker" type="ClaseHeredaClaseMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ClaseHeredaClaseMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ClaseHeredaClase instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseEnriquecidaHasEstiloClases -->
  <xsd:element name="claseEnriquecidaHasEstiloClases" type="ClaseEnriquecidaHasEstiloClases" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ClaseEnriquecidaHasEstiloClases">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end EstiloClase -->
          <xsd:element ref="estiloClase" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseEnriquecidaHasEstiloClases Moniker -->
  <xsd:element name="claseEnriquecidaHasEstiloClasesMoniker" type="ClaseEnriquecidaHasEstiloClasesMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ClaseEnriquecidaHasEstiloClasesMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ClaseEnriquecidaHasEstiloClases instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseEnriquecidaHasEstiloAtributo -->
  <xsd:element name="claseEnriquecidaHasEstiloAtributo" type="ClaseEnriquecidaHasEstiloAtributo" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ClaseEnriquecidaHasEstiloAtributo">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end EstiloAtributo -->
          <xsd:element ref="estiloAtributo" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseEnriquecidaHasEstiloAtributo Moniker -->
  <xsd:element name="claseEnriquecidaHasEstiloAtributoMoniker" type="ClaseEnriquecidaHasEstiloAtributoMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ClaseEnriquecidaHasEstiloAtributoMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ClaseEnriquecidaHasEstiloAtributo instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseEnriquecidaHasEstiloOperacioned -->
  <xsd:element name="claseEnriquecidaHasEstiloOperacioned" type="ClaseEnriquecidaHasEstiloOperacioned" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ClaseEnriquecidaHasEstiloOperacioned">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end EstiloOperacion -->
          <xsd:element ref="estiloOperacion" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseEnriquecidaHasEstiloOperacioned Moniker -->
  <xsd:element name="claseEnriquecidaHasEstiloOperacionedMoniker" type="ClaseEnriquecidaHasEstiloOperacionedMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ClaseEnriquecidaHasEstiloOperacionedMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ClaseEnriquecidaHasEstiloOperacioned instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseAgregaClase -->
  <xsd:element name="claseAgregaClase" type="ClaseAgregaClase" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ClaseAgregaClase">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Clase -->
          <xsd:element ref="claseMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Nombre -->
        <xsd:attribute name="nombre" type="xsd:string" />
        <!-- Property: CardinalidadIzquierda -->
        <xsd:attribute name="cardinalidadIzquierda" type="xsd:string" />
        <!-- Property: CardinalidadDerecha -->
        <xsd:attribute name="cardinalidadDerecha" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseAgregaClase Moniker -->
  <xsd:element name="claseAgregaClaseMoniker" type="ClaseAgregaClaseMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ClaseAgregaClaseMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ClaseAgregaClase instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseComponeClase -->
  <xsd:element name="claseComponeClase" type="ClaseComponeClase" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ClaseComponeClase">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Clase -->
          <xsd:element ref="claseMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Nombre -->
        <xsd:attribute name="nombre" type="xsd:string" />
        <!-- Property: CardinalidadIzquierda -->
        <xsd:attribute name="cardinalidadIzquierda" type="xsd:string" />
        <!-- Property: CardinalidadDerecha -->
        <xsd:attribute name="cardinalidadDerecha" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseComponeClase Moniker -->
  <xsd:element name="claseComponeClaseMoniker" type="ClaseComponeClaseMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ClaseComponeClaseMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ClaseComponeClase instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseAsociaClase -->
  <xsd:element name="claseAsociaClase" type="ClaseAsociaClase" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ClaseAsociaClase">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Clase -->
          <xsd:element ref="claseMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Nombre -->
        <xsd:attribute name="nombre" type="xsd:string" />
        <!-- Property: CardinalidadIzquierda -->
        <xsd:attribute name="cardinalidadIzquierda" type="xsd:string" />
        <!-- Property: CardinalidadDerecha -->
        <xsd:attribute name="cardinalidadDerecha" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ClaseAsociaClase Moniker -->
  <xsd:element name="claseAsociaClaseMoniker" type="ClaseAsociaClaseMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ClaseAsociaClaseMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ClaseAsociaClase instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Enum TTipoHerencia -->
  <xsd:simpleType name="TTipoHerencia">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="TotalSolapada"/>
      <xsd:enumeration value="ParcialDisjunta"/>
      <xsd:enumeration value="ParcialSolapada"/>
      <xsd:enumeration value="TotalDisjunta"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum TAlineacion -->
  <xsd:simpleType name="TAlineacion">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Izquierda"/>
      <xsd:enumeration value="Derecha"/>
      <xsd:enumeration value="Centro"/>
    </xsd:restriction>
  </xsd:simpleType>
  
</xsd:schema>

